<div class="section">
  <nav class="menu">
    <a class="menu-item" href="{% url 'bgb:home' %}">BoardgameBro</a>
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li><a href="{% url 'bgb:player-list' %}">Players</a></li>
      <li><a href="{% url 'bgb:game-list' %}">Games</a></li>
      <li><a href="{% url 'bgb:playthrough-list' %}">Sessions</a></li>
      <li><a href="{% url 'bgb:playthrough-create' %}">New Session</a></li>
    </ul>
    {% if request.user.is_authenticated %}
    <p class="menu-label">{{ request.user.username }}</p>
    <ul class="menu-list">
      <li><del><a href="{% url 'admin:index' %}">Friends</a></del></li>
      <li><a href="{% url 'bgb:profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Log out</a></li>
    </ul>
    {% if request.user.is_staff %}
    <p class="menu-label">Admin</p>
    <ul class="menu-list">
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      <li><a href="/api/">Api</a></li>
      <li><a href="/api-docs/">Api Docs</a></li>
      <li><a href="/api-docs-swagger/">Api Docs Swagger</a></li>
      <li><a href="/api-docs-redoc/">Api Docs Redoc</a></li>
    </ul>
    {% endif %}
    {% else %}
    <p class="menu-label">Account</p>
    <ul class="menu-list">
      <li><a href="{% url 'login' %}">Sign in</a></li>
    </ul>
    {% endif %}

  </nav>
</div>
