<footer class="footer">
  <div class="container">
    <div class="columns">

      <div class="column is-6">
        <ul class="">
          <li>BoardGameBro.party</li>
        </ul>
      </div>

      <div class="column">
        <span class="menu-label">Community</span>
        <ul class="">
          <li><a href="https://reddit.com/r/boardgamebro">Reddit</a></li>
          <li><a href="https://discord.gg/bKXwZfq">Discord</a></li>
        </ul>
      </div>

      <div class="column">
        <span class="menu-label">Thanks to</span>
        <ul class="">
          <li><a href="http://icons8.com">Icons8.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section container content is-small">
    <p class="has-text-centered">
      (c) BoardgameBro.party 2019
       - <a href="{% url 'bgb:about' %}">About</a>
       - <a href="{% url 'bgb:about' %}#TermsOfService">ToS</a>
       - <a href="{% url 'bgb:about' %}#PrivacyPolicy">PrivacyPolicy</a>
    </p>
  </div>
</footer>
