<footer class="footer">
  <div class="container">
    <div class="columns">

      <div class="column">
        <ul class="">
          <li>BoardGameBro.party</li>
        </ul>
      </div>

      <div class="column is-2">
        <span class="menu-label">Community</span>
        <ul class="">
          <li><a href="https://reddit.com/r/boardgamebro">Reddit</a></li>
          <li><a href="https://discord.gg/bKXwZfq">Discord</a></li>
        </ul>
      </div>

      <div class="column is-2">
        <span class="menu-label">Thanks to</span>
        <ul class="">
          <li><a href="http://icons8.com">Icons8.com</a></li>
        </ul>
      </div>

      <!-- <div class="colum is-2">
        <span class="menu-label">Business</span>
        <ul>
          <li>Sponsor</li>
          <li>Ads</li>
          <li>Donate</li>
        </ul>
      </div> -->

    </div>
  </div>
</footer>
