  <div class="notification">
    <div class="columns is-vcentered">

      <div class="column has-text-centered">
        <span class="is-size-3 has-text-weight-semibold">Join us! </span>
        <span class="is-size-4">Sign in with: </span>
        </header>
      </div>

      <div class="column has-text-centered">
        
        <a class="button is-info" href="{# url 'social:begin' 'discord' #}">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/discord-logo.png"> -->
          <span class="icon">
            <i class="fab fa-discord"></i>
          </span>
          <span>
            Sign in with Discord
          </span>
        </a>
      </div>

      <div class="column has-text-centered">
        <a class="button is-dark" href="{# url 'social:begin' 'reddit' #}">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/reddit.png"> -->
          <span class="icon">
            <i class="fab fa-reddit"></i>
          </span>
          <span>
            Sign in with Reddit
          </span>
        </a>
      </div>

      <div class="column has-text-centered">
        <a class="button is-danger" href="{# url 'social:begin' 'google-oauth2' #}">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/google-logo.png"> -->
          <span class="icon">
            <i class="fab fa-google"></i>
          </span>
          <span>
            Sign in with Google
          </span>
        </a>
      </div>

    </div>
  </div>
