<div class="notification">
  <div class="field is-grouped">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-danger">pre-alpha</span>
        <span class="tag has-background-white">0.0.1</span>
      </div>
    </div>
    <div class="control">
      This project is in <a href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Pre-alpha">pre-alpha</a> stage. Please submit your feedback either on <a href="https://github.com/hvgab/BoardGameBro/issues">Github Issues</a> or join the <a href="#">Slack</a>
    </div>
  </div>
</div>
