{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static '/css/app.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>BoardGameBro</title>
  </head>
  <body>

    {% block toplevelnotification %}
    {% include 'components/version_banner.html' %}
    {% endblock %}

    <!-- </div> -->
    <div class="columns">
      <div class="column is-narrow">
        {% include 'components/menu.html' %}
      </div>
      <div class="column">
        {% block pageheader %}
        <div class="hero">
          <div class="hero-body">
            <h1 class="title">
              BoardgameBro.party
            </h1>
            <h2 class="subtitle">
              Welcome to BoardGameBro!
            </h2>
          </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>

    </div>

    {% include 'components/footer.html' %}

  </body>
</html>
