{% extends 'base.html' %}

{% block content %}

<section class="section container">
  <h1 class="title is-4">Games</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Count Plays</td>
        <td>Count Players</td>
      </tr>
    </thead>
    {% for row in object_list %}
    <tr>
      <td><a href="{% url 'bgb:game-detail' pk=row.id %}">{{ row.name }}</a></td>
      <td>{{ row.play_count }}</td>
      <td>{{ row.player_count }}</td>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
