{% extends 'base.html' %}
{% load bgb_extras %}

{% block pageheader %}
  {% with header='Games' %}
    {% include 'components/page-header.html' %}
  {% endwith %}
{% endblock %}

{% block content %}

<section class="section container">
  <table class="table">
    <thead>
      <tr>
      {% for field in fields %}
        <td>{{ field }}</td>
      {% endfor %}
    </tr>
    </thead>
    {% for row in object_list %}
    <tr>
      {% for field in fields %}
        <td>
          <a href="{% url detail_view pk=row.id %}">
          {{ row|get_attr:field }}
          </a>
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
