{% extends 'base.html' %}

{% block pageheader %}
  {% with header='Sessions' %}
    {% include 'components/page-header.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<section class="">
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Game</td>
        <td>Winner</td>
        <td>Players</td>
      </tr>
    </thead>
    {% for row in object_list %}
    <tr>
      <td><a href="{% url 'bgb:play-detail' pk=row.id %}">{{ row.id }}</a></td>
      <td><a href="{% url 'bgb:game-detail' pk=row.game.id %}">{{ row.game.name }}</a></td>
      <td><a href="{% url 'bgb:player-detail' pk=row.winner.id %}">{{ row.winner.nickname }}</a></td>
      <!-- <td>{{ row.players_string }}</td> -->
      <td>
        {% for player in row.players.all %}
          <a href="{% url 'bgb:player-detail' pk=player.id %}">{{ player.nickname }}</a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
