{% extends 'base.html' %}

{% block content %}

<section class="section">
  <h1 class="title is-4">Players</h1>
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Nick</td>
        <td>Win Count</td>
        <td>Play Count</td>
        <td>Game Count</td>
      </tr>
    </thead>
    {% for row in object_list %}
    <tr>
      <td><a href="{% url 'bgb:player-detail' pk=row.id %}">{{ row.id }}</a></td>
      <td><a href="{% url 'bgb:player-detail' pk=row.id %}">{{ row.nickname }}</a></td>
      <td>{{ row.win_count }}</td>
      <td>{{ row.play_count }}</td>
      <td>{{ row.game_count }}</td>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
