{% extends 'base.html' %}

{% block content %}
<article class="section content " id="About">
  <h1 class="">About</h1>
  <p>
    The idea for BoardgameBro came about around 2015.<br>
    It wasn't until 2019 the site actually launched when Gabbeh recently recovered the idea.<br>
    BoardgameBro is aiming for alpha status Q1 2019, with MVP status for all basic functionality.<br>
    The hope is to create some cool status both globally and for your gamerfriends.<br>
    To create cool stats, it has to be easy to add data, so this project aims for a high end ux experience.
  </p>
</article>

<article class="section content " id="PrivacyPolicy">
  <h1 class="">Privacy Policy</h1>
  <ul>
    <li>BoardgameBro can use your data on the site.</li>
    <li>We won't sell or give away your data.</li>
  </ul>
</article>

<article class="section content " id="TermsOfService">
  <h1 class="">Terms Of Service</h1>
  <ul>
    <li>Be kind</li>
  </ul>
</article>
{% endblock %}
